/*개별 카드 부분   */
.card{
    width: 400px;    
    height: auto;
    padding: 15px 20px 23px;
    opacity: 0.9;
    border-radius: 10px;
    background-color: #e7e7e7;
}

/*카드 연도 이름 부분*/
.card-header{
    display: flex;
    align-items: center;     
    justify-content: space-between
}

.card-header p{
    float: left;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.24px;
    text-align: left;
    color: #000;
}


.year{
font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
  text-align: right;
  color: #000;
}

.card img{
    width: 360px; 
    margin: 9px 0 20px;
    height: 227.1px;
    border-radius: 5px;
}



/*카드 내용*/
.card-content p{
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 6;    /* 최대 3줄만 보여주기 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}