/*세번째 섹션: 카드 필터링 부분*/

.filter-section{
    padding: 120px 80px 0px 80px;
}

.filter-section p{
    font-family:var(--font-exo);
    font-size: 48px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.72px;
    text-align: left;
    color: #000;
}

.filter{
    display: flex;
}

/* 카테고리 필터 */
.category-filter{
    width: 408px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap:5px;
    padding: 5px;
    border-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.category-filter button {
    margin-top: 5px;
    height: 40px;
    padding: 8px 16px;
    font-family: var(--font-exo);
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap; 
    flex-shrink: 0;
}

.category-filter button.active {
    height: 40px;
    padding: 8px 16px;
    font-family: var(--font-exo);
    font-size: 16px;
    text-align: center;
    color:white;
    background-color: #000;
    border-radius: 25px;
}



/* 연도 필터 */
.year-filter{
    width: 408px;
    height: 50px;
    padding: 5px;
    border-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    background-color: #fff; 
}




/*필터된 카드 리스트*/
.card-list{
    display: flex;
    margin-top: 70px;
    gap: 40px;    
}