/*두번째 섹션: 이미지, 구독 부분*/

.bleed-section {
    width: 100%;
    height: 740px;
    margin: 110px 0 0;
    background-size: cover;
    background-position: center;
    background-color: rgba(197, 196, 196, 0.5);
}

.bleed-Text{
    padding: 0 80px;
}

.bleed-Text h4{
    font-family: var(--font-montserrat);
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.36px;
    text-align: center;
    color: #fff;
    padding-top: 152px;
}



.bleed-content{
    width: 1520px;
    height: 89px;
    margin: 23px 32px 80px;
    font-family:  var(--font-montserrat);
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.27px;
    text-align: center;
    color: #FFFFFF;
    opacity: 80%;

}


/* 중간선 */
.bleed-line{
    width: 1520px;
    height: 1px;
    margin: 32px 0;
    background-color: #FFFFFF;
    opacity: 50%;
}

.bleed-smallText{
    margin: 32px 0 0 2px;
    font-family: var(--font-montserrat);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    letter-spacing: -0.21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}


/*email있는 input태그 */
.bleed-input {
    display: flex;
    justify-content: center; 
    align-items: center;      
    flex-direction: column;   
    text-align: center;     
    margin-top: 95px;
  }

.bleed-input p{
    margin: 0 146px 16px 150px;
    font-family: var(--font-exo);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.24px;
    text-align: center;
    color: #fff;
}



/*이메일 구독 부분*/
.email-box{
    width: 500px;
    height: 50px;
    margin: 16px  0;
    padding: 4px 10px 4px 4px;
    border-radius: 7px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: solid 1px #fff;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
}

.email{
    width: 446px;
    height: 42px;
    margin: 0 8px 0 0;
    font-family: var(--font-exo);
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.24px;
    text-align: left;
    color: black;
}

.email-box input.email {
  background: transparent;
  border: none;
  outline: none;
  color: white; 
  font-size: 1rem;
  padding: 0.5rem;
}
  
.email-box img{
    background: transparent;
    border: none;
    width: 32px;
    height: 32px;
    margin: 5px 0 5px 8px; 
}

.email-box .send-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.email-box ::placeholder{
    color:white;
}


/*이메일 유효성*/
.email-box.valid {
    border: 2px solid #00C300;
  }
  
  .email-box.error {
    border: 2px solid #FF6633;
  }
  
  .error-text {
    margin-top: 4px;
    color: #FF6633 !important;
    font-size: 16px;
    font-family: var(--font-exo);
    font-weight: 100;
  }