.header-section{
    width: 1680px;
    margin: 0 auto; 
    padding: 0 80px; 
}
.header-text{
    margin-top: 120px;
    margin-bottom:70px;
    white-space: pre-wrap;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #000000;
}

/*프로필 카드 그룹*/ 
.profile-container{
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 20px; 
    width: 100%;
    max-width: 1680px; 
    margin: 0 auto;
}